@media (max-width: 992px) {

  // MAIN

  .btn {
    font-size: 2rem;
  }
  .subtitle-feature{
    font-size: 1.5rem;
  }
  .main-subtitle{
    font-size: 8rem;
  }
  .early-access {
    .container {
      .title {
        h2 {
          font-size: 4.5rem;
        }
        span {
          font-size: 2rem;
        }
      }
    }
  }

  // HEADER

  .main-header {
    .container {
      width: 100%;
      .logo {
        width: 9%;
        margin-left: 2%;
      }
      .header-nav {
        margin-right: 2%;
        font-size: 2rem;
        .account-info {
          width: 40%;
          .login {
            .login-img {
              width: 30%;
              margin-right: 11%;
              span {
                margin-right: 20px;
              }
            }
          }
          .btn-start {
            font-size: 2rem;
          }
        }
      }
    }
  }

  // MAIN-SECTION

  .main-section {
    .container {
      width: 83%;
      padding-top: 10%;
      h1 {
        text-align: center;
        margin-left: 0;
      }
      p {
        font-size: 2.3rem;
      }
    }
  }

  // SCORING-SDK_SECTION

  .scoring-algorithm, .sdk-traffic {
    .container {
      width: 100%;
      .bg-number {
        font-size: 20rem;
      }
      .scoring-info {
        font-size: 3rem;
        h2 {
          span {
            font-size: 6rem;
          }
        }
        p {
          font-size: 2rem;
          width: 35rem;
          line-height: 2.3rem;
          font-weight: 300;
        }
        .btn {
          font-size: 2rem;
        }
      }
      figure {
        margin-left: 0;
      }
    }
  }

  // BENEFITS-SDK_SECTION

  .benefits, .sdk-integration {
    .benefits-features, .integration-features {
      .feature {
        width: 30rem;
        figure {
          .img-box {
            &.comission {
              width: pixelToOtherUnit(256, rem);
            }
            &.traffic {
              width: pixelToOtherUnit(216, rem);
            }
            &.scoring {
              width: pixelToOtherUnit(200, rem);
            }
            img {
              width: 100%;
            }
          }
          .label {
            font-size: 3rem;
            line-height: 4rem;
            &.central {
              margin-top: 2.53rem;
            }
          }
          span {
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }
    }
    .btn {
        margin-top: 8rem;
    }
  }
  .sdk-integration {
    .integration-features {
      .feature {
        figure {
          .img-box {
            &.unity-plugin {
              width: pixelToOtherUnit(242, rem);
              & + .label {
               margin-top: 3.2rem;
              }
            }
            &.light-sdk {
              width: pixelToOtherUnit(244, rem);
            }
            &.integration {
              width: pixelToOtherUnit(256, rem);
              & +.label {
                margin-top: 1.7rem;
              }
            }
          }
          .label {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }
    }
    .btn {
      i {
        top: 2.15rem;
        height: 2rem;
      }
    }
  }

  // STAGES_SECTION

  .stages {
    .stages-info {
      justify-content: space-around;
      margin-left: 0;
      margin-right: 0;
      .info {
        line-height: 16px;
        span {
          font-size: 1.3rem;
        }
        .bg-number {
          font-size: 13rem;
        }
        &.first {
          padding-left: pixelToOtherUnit(210, rem);
          padding-right: pixelToOtherUnit(90, rem);
          .bg-number {
            left: 8.4375rem;
          }
        }
        &.second {
          margin-left: 0;
          padding-left: pixelToOtherUnit(56, rem);
          padding-right: pixelToOtherUnit(50, rem);
        }
        &.third {
          margin-left: 0;
          padding-left: pixelToOtherUnit(66, rem);
          padding-right: pixelToOtherUnit(64, rem);
        }
        &.fourth {
          margin-left: 0;
          padding-left: pixelToOtherUnit(110, rem);
          padding-right: pixelToOtherUnit(94, rem);
        }
      }
    }
    .title-center {
      h3 {
        font-size: 2.3rem;
        width: 20rem;
        margin-top: 1rem;
        padding-top: 5rem;
        line-height: 4rem;
        .bg-number {
          top: 6.5rem;
          font-size: 15.5rem;
        }
      }
    }
    .bg-feature {
      top: 29rem;
      right: 2rem;
      width: 90rem;
      height: 20rem;
    }
    .early-access {
      .container {
        .title {
          margin-left: 6rem;
        }
      }
    }
  }

  // PLATFORM_SECTION

  .platform {
    .opportunities {
      .box {
        width: pixelToOtherUnit(150, rem);
        text-align: center;
        &.fourth {
          width: 12rem;
        }
        .number {
          font-size: 5rem;
        }
        .case {
          font-weight: 300;
          font-size: 2rem;
        }
      }
    }
  }

  // NUMBER_SECTION

  .numbers {
    .impressions {
      span {
        font-size: 9rem;
      }
    }
    .impressions-label {
      font-size: 1.3rem;
    }
    .dau {
      span {
        font-size: 6rem;
      }
    }
    .dau-label {
      font-size: 1.3rem;
    }
    .features {
      .feature-box {
        .number {
          font-size: 4rem;
        }
        .case {
          font-size: 1.3rem;
        }
      }
    }
    .early-access {
      .container {
        .title {
          span {
            font-size: 2rem;
            margin-left: -13rem;
          }
        }
        .btn {
          font-size: 2rem;
        }
      }
    }
    .bg-feature {
      top: 41rem;
    }
  }

  // CALCULATOR_SECTION

  .calculator {
    .container {
      .calculator-form {
        .data-box {
          .label-box {
            label {
              font-size: 1.7rem;
              &.first {
                margin-left: -4rem;
              }
              span {
                display: inline;
                font-family:'Montserrat';
                font-weight: bold;
                font-size: pixelToOtherUnit(18, rem);
                text-transform: lowercase;
              }
            }
            span {
              font-size: 1.3rem;
            }
          }
          .input-box {
            width: 26rem;
            input {
              height: 6rem;
              width: 25rem;
            }
            .input-icon {
              height: 2rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}



@media (max-width: 568px) {

  // MAIN

  .btn {
    font-size: 2rem;
  }
  .subtitle-feature{
    font-size: 2.5rem;
  }
  .main-subtitle{
    font-size: 11rem;
    margin-top: 4rem;
  }
  .early-access {
    .container {
      .title {
        h2 {
          font-size: 7.5rem;
        }
        span {
          margin-left: 12rem;
          font-size: 3.3rem;
        }
      }
    }
  }

  // HEADER

  .main-header {
    .container {
      .header-nav {
        position: relative;
        .main-navigation {
  				position: absolute;
  				top: -600%;
  				right: 0;
  				z-index: 1000;
  				margin-top: 0;
  				background-color: rgba(0, 0, 0, 0.9);
  				// transition: all 0.4s ease-in-out;

          .close{
            display: none;
            font-size: 15rem;
            color:#fff;
            font-family:'Montserrat';
            position:absolute;
            top:2%;
            right:5%;
          }

  				&.active {
  					top: 0;
            color: #ffffff;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            left:0;
            width:100%;
            height:100vh;
            margin: 0;
            padding:0;

            .close{
              display: flex;
            }

            ul{
              width: 100%;
              height: 100vh;
              display:flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              li{
                text-align: center;
                color:#fff;
              }

            }


  				}

  				ul {

            display: flex;
  					flex-direction: column;
  					justify-content: center;
            a {
              padding: 0;
              li {
    						padding: 2rem 25px 10px 35px;
    						border-top: 0.3rem solid #ffffff;
    						font-size: 5rem;
                &:first-child {
    							border-top: 0.3rem solid transparent;
    						}
    					}
            }
  				}
        }
        .mobile-menu {
          cursor: pointer;
          position: relative;
          z-index: 100;
          width: 7rem;
          height: 6rem;
          margin-left: 5rem;
          background-color: transparrent;
          transition: all 0.4s ease;
          &.active, &:hover {
            transform: scale(1.1);
          }
          &:after {
            content: '';
            background: url(../img//menu.svg) no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 17px;
            height: 17px;
            transform: translate(-50%, -50%);
          }
        }
        .account-info {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .login {
            display: none;
          }
        }
      }
    }
  }

  // MAIN-SECTION

  .main-section {
    .container {
      width: 83%;
      padding-top: 10%;
      h1 {
        position: relative;
        z-index: 10;
        font-size: 10rem;
      }
      p {
        margin-top: 6rem;
        line-height: 4.8rem;
        font-size: 3.3rem;
        font-weight: 500;
      }
      .btn {
        span {
          font-size: 6rem;
        }
      }
      .bg-feature {
        top: 50rem;
      }
    }
    .early-access {
      .container {
        flex-direction: column;
        .title {
          margin-left: 0;
          h2 {
            font-size: 7.5rem;
          }
          span {
            margin-left: 12rem;
            font-size: 3.3rem;
          }
        }
        .btn {
          margin-top: pixelToOtherUnit(105, rem);
          margin-left: 0;
          font-size: 5.5rem;
        }
      }
    }
  }

  // SCORING-SDK_SECTION

  .scoring-algorithm, .sdk-traffic {
    .container {
      position: relative;
      .scoring-info {
        margin: 10rem auto;
        margin-top: 10rem;
        font-size: 7rem;
        h2 {
          span {
            font-size: 12rem;
          }
        }
        p {
          font-size: 4rem;
          width: 85rem;
          line-height: 5.3rem;
          font-weight: 500;
        }
        .btn {
          font-size: 5rem;
          margin: 6rem auto;
        }
      }
      figure {
        display: none;


        img {
          opacity: 0.2;
        }
      }
      .bg-number {
        left: 75rem;
        color: theme-blue;
      }
    }
  }

  // BENEFITS-SDK_SECTION

  .benefits, .sdk-integration {
    .benefits-features, .integration-features {
      flex-direction: column;
      align-items: center;
      padding-top: 13rem;
      .feature {
        width: 80rem;
        margin-bottom: 10rem;
        figure {
          width: 100%;
          .img-box {
            &.comission {
              width: pixelToOtherUnit(700, rem);
            }
            &.traffic {
              width: pixelToOtherUnit(700, rem);
            }
            &.scoring {
              width: pixelToOtherUnit(700, rem);
            }
          }
          .label {
            font-size: 8rem;
            line-height: 10rem;
          }
          span {
            font-size: 4rem;
            line-height: 5.5rem;
          }
        }
      }
    }
    .btn {
      font-size: 6rem;
      margin-top: 5rem;
    }
  }
  .sdk-integration {
    .integration-features {
      .feature {
        figure {
          .img-box {
            &.unity-plugin {
              width: pixelToOtherUnit(700, rem);
              & + .label {
               margin-top: 3.2rem;
              }
            }
            &.light-sdk {
              width: pixelToOtherUnit(700, rem);
            }
            &.integration {
              width: pixelToOtherUnit(700, rem);
              & +.label {
                margin-top: 1.7rem;
              }
            }
          }
          .label {
            font-size: 8rem;
            line-height: 10rem;
          }
        }
      }
    }
    .btn {
      padding-left: 10rem;
      i {
        top: 2rem;
        left: 5rem;
        height: 7rem;
      }
    }
  }

  // STAGES_SECTION

  .stages {
    .stages-info {
      flex-direction: column;
      .info {
        span {
          font-size: 3.3rem;
          margin-bottom: 10rem;
        }
        .bg-number {
          color: theme-blue;
        }
        &.first, &.second, &.third, &.fourth {
          padding-left: 0;
          padding-right: 0;
          .bg-number {
            left: 28rem;
            font-size: 8rem;
            top: 2rem;
          }
        }
        &.second {
          .bg-number {
            left: 23rem;
          }
        }
        &.second {
          .bg-number {
            left: 19rem;
          }
        }
        &.third {
          .bg-number {
            left: 14rem;
          }
        }
        &.fourth {
          .bg-number {
            left: 10rem;
          }
        }
      }
    }
    .title-center {
      h3 {
        display: block;
        margin: 0 auto;
        padding: 0;
        font-size: 6rem;
        width: 100%;
        line-height: 9rem;
        .bg-number {
          left: 5rem;
          top: 5rem;
          color: theme-blue;
        }
      }
    }
    .bg-feature {
      display: none;
    }
    .btn {
      font-size: 4rem;
    }
    .early-access {
      .container {
        width: 100%;
        .title {
          margin-left: 3rem;
          h2 {
            line-height: 6rem;
          }
          span {
            margin-left: 0;
            font-size: 2.3rem;
          }
        }
      }
    }
  }

  // PLATFORM_SECTION

  .platform {
    .opportunities {
      margin: 7rem auto;
      .box {
        width: pixelToOtherUnit(250, rem);
        text-align: center;
        transform: scale(1.2);
        &.fourth {
          width: 12rem;
        }
        .number {
          font-size: 7rem;
        }
        .case {
          font-size: 2.3rem;
          margin-top: 2rem;
        }
      }
    }
    .main-image {
      top: 30rem;
    }
    .btn {
      font-size: 5rem;
    }
  }

  // NUMBER_SECTION

  .numbers {
    .impressions {
      span {
        font-size: 11rem;
      }
    }
    .impressions-label {
      font-size: 2.3rem;
    }
    .dau {
      span {
        font-size: 8rem;
      }
    }
    .dau-label {
      font-size: 2.3rem;
    }
    .features {
      .feature-box {
        .number {
          font-size: 6rem;
        }
        .case {
          font-size: 2.3rem;
        }
      }
    }
    .early-access {
      .container {
        flex-direction: column;
        .title {
          margin-left: 0;
          h2 {
            font-size: 7.5rem;
          }
          span {
            margin-left: -2rem;
            font-size: 3.3rem;
            margin-top: 6rem;
          }
        }
        .btn {
          margin-top: pixelToOtherUnit(105, rem);
          margin-left: 0;
          font-size: 5.5rem;
        }
      }
    }
    .bg-feature {
      top: 65rem;
    }
  }

  // EXCHANGE_SECTION

  .exchange {
    .exchange-info {
      font-size: 5rem;
      line-height: 6rem;
    }
    .img-container {
      margin-top: 5.5%;
      figure{
        width: 30%;
        border-radius: 26px;


        &.item_0{
          display: none;
        }
        &.item_1{
          display: none;
        }
        &.item_2{
          width: 25%;
          margin: 0 10px;
          border-radius: 12px;
        }
        &.item_3{
          border-radius: 12px;
          margin: 0 10px;
        }
      }
    }
    .btn{
      font-size: 5rem;
    }
  }

  // CALCULATOR_SECTION

  .calculator {
    .calculator-info {
      padding-top: 10rem;
      font-size: 3.5rem;
    }
    .container {
      .calculator-form {
        .data-box {
          margin-top: 3rem
          .label-box {
            label {
              font-size: 2.7rem;
              &.first {
                margin-left: -11rem;
              }
              span {
                font-size: 2rem;
              }
            }
            span {
              font-size: 2.3rem;
            }
          }
          .input-box {
            width: 26rem;
            input {
              height: 8rem;
              width: 35rem;
            }
            .input-icon {
              height: 3rem;
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
  .btn{
    font-size: 5rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
}
